package {{ group_name }}.{{ app_name | lower }}.model;

import lombok.NoArgsConstructor;
import lombok.AllArgsConstructor;
import lombok.Data;

import java.time.LocalDate;
import java.time.LocalDateTime;
import java.util.List;
import jakarta.persistence.*;

@Entity
@Data
@NoArgsConstructor
@AllArgsConstructor
public class {{ entity.name }} {

    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    private Long id;

    {% for property in entity.properties %}
        {% if property.cardinality %}
    {{ property.cardinality | format_cardinality}}(fetch = FetchType.LAZY)
            {% if property.cardinality == '@*..*' or property.cardinality == '@1..*' %}
    private List<{{ property.type | format_type}}> {{ property.name }};
            {% else %}
    private {{ property.type | format_type}} {{ property.name }};
            {% endif %}
        {% else %}
    private {{ property.type | format_type}} {{ property.name }};
        {% endif %}

    {% endfor %}
}
