spring.application.name={{ app_name }}
server.port=8442
server.servlet.contextPath=/api

# database
spring.datasource.url=jdbc:postgresql://localhost:5432/{{ app_name_lower }}
# ${DB_NAME}, uks
spring.datasource.username=${DB_USERNAME}
#postgres
spring.datasource.password=${DB_PASSWORD}
#root

spring.sql.init.mode=always
spring.datasource.driverClassName=org.postgresql.Driver
spring.sql.init.platform=postgres
spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQL95Dialect

spring.jpa.generate-ddl=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.defer-datasource-initialization=true
spring.jpa.properties.hibernate.enable_lazy_load_no_trans=true
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true
spring.mvc.pathmatch.matching-strategy=ANT_PATH_MATCHER
