import {
  DateAdapter,
  // MAT_DATE_FORMATS,
  MAT_DATE_LOCALE,
  MatNativeDateModule,
} from "@angular/material/core";
import { ToastrModule } from "ngx-toastr";
// import { MY_DATE_FORMAT } from 'src/utils/dateUtil';

import { MatDialogModule } from "@angular/material/dialog";
import { ClipboardModule } from "@angular/cdk/clipboard";
import { NgModule } from "@angular/core";
import { BrowserModule } from "@angular/platform-browser";
import { NoopAnimationsModule } from "@angular/platform-browser/animations";
import { MatSidenavModule } from "@angular/material/sidenav";
import { MatToolbarModule } from "@angular/material/toolbar";
import { MatIconModule } from "@angular/material/icon";
import { CommonModule, Location } from "@angular/common";
import { FormsModule, ReactiveFormsModule } from "@angular/forms";
import { MatTabsModule } from "@angular/material/tabs";
import { MatSelectModule } from "@angular/material/select";
import { HttpClientModule } from "@angular/common/http";
import { BrowserAnimationsModule } from "@angular/platform-browser/animations";
import { MatSlideToggleModule } from "@angular/material/slide-toggle";
import { MatTableModule } from "@angular/material/table";
import { MatSortModule } from "@angular/material/sort";
import { MatCheckboxModule } from "@angular/material/checkbox";
import { MatDatepickerModule } from "@angular/material/datepicker";
import { MomentDateAdapter } from "@angular/material-moment-adapter";
import { MatProgressBarModule } from "@angular/material/progress-bar";

import { LoginComponent } from "./pages/auth/login/login.component";
import { SignupComponent } from "./pages/auth/signup/signup.component";
import { PageNotFoundComponent } from "./pages/page-not-found/page-not-found.component";
import { AppRoutingModule } from "./app-routing.module";
import { AppComponent } from "./app.component";

{% for entity in entities%}
import { {{entity.name}}Component } from './pages/{{entity.name | lower}}-page/{{entity.name | lower}}-page.component';
{% endfor %}

@NgModule({
  declarations: [
    AppComponent,
    {% for entity in entities%}
    {{entity.name}}Component,
    {% endfor %}
    LoginComponent,
    SignupComponent,
    PageNotFoundComponent,
  ],
  exports: [],
  imports: [
    BrowserModule,
    AppRoutingModule,
    NoopAnimationsModule,
    MatSelectModule,
    MatSidenavModule,
    MatToolbarModule,
    MatIconModule,
    MatTabsModule,
    CommonModule,
    FormsModule,
    ReactiveFormsModule,
    HttpClientModule,
    BrowserAnimationsModule,
    MatDialogModule,
    MatSlideToggleModule,
    MatTableModule,
    MatCheckboxModule,
    MatSortModule,
    MatDatepickerModule,
    MatNativeDateModule,
    MatProgressBarModule,
    ClipboardModule,

    ToastrModule.forRoot(),
  ],
  providers: [
    MatDatepickerModule,
    {
      provide: DateAdapter,
      useClass: MomentDateAdapter,
      deps: [MAT_DATE_LOCALE],
    },
  ],
  bootstrap: [AppComponent],
})
export class AppModule {}