import { Component, OnInit } from '@angular/core';
import { {{entity.name}}Service } from '../{{entity.name|lower}}.service'; 
import { ActivatedRoute } from '@angular/router';
import { {{entity.name}} } from '../../../types/types';

@Component({
  selector: 'app-{{entity_name_dash}}-list-page',
  templateUrl: './{{entity_name_dash}}-list-page.component.html',
  styleUrls: ['./{{entity_name_dash}}-list-page.component.scss'],
})
export class {{entity.name}}ListComponent {

  objects: {{entity.name}}[] = [];

  constructor(private route: ActivatedRoute, private {{entity.name|lower}}Service: {{entity.name}}Service) { }

  ngOnInit(): void {
  }
}
