import { ComponentFixture, TestBed } from '@angular/core/testing';

import { {{entity.name}}DialogComponent } from './{{entity.name|lower}}-dialog.component';

describe('{{entity.name}}DialogComponent', () => {
  let component: {{entity.name}}DialogComponent;
  let fixture: ComponentFixture<{{entity.name}}DialogComponent>;

  beforeEach(async () => {
    await TestBed.configureTestingModule({
      declarations: [ {{entity.name}}DialogComponent ]
    })
    .compileComponents();
  });

  beforeEach(() => {
    fixture = TestBed.createComponent({{entity.name}}DialogComponent);
    component = fixture.componentInstance;
    fixture.detectChanges();
  });

  it('should create', () => {
    expect(component).toBeTruthy();
  });
});
