package {{ group_name }}.{{ app_name | lower }};

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;

@SpringBootApplication
public class {{ app_name_cap }}Application {

	public static void main(String[] args) {
		SpringApplication.run({{ app_name_cap }}Application.class, args);
	}

}
